.different {
    // .different__body
    &__body {
        padding-top: 120px;
        padding-bottom: 200px;
        border-bottom: 1px solid #DCDDEB;
        @media (max-width: $pc){
            padding: 75px 0;
        }
        @media (max-width: $mobileMiddle){
            padding: 50px 0;
        }
    }
    // .different__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $pc){
            justify-content: center;
        }
    }
    // .different__content
    &__content {
    }
    // .different__header
    &__header {
        margin-bottom: 40px;
        @media (max-width: $pc){
            text-align: center;
            max-width: 600px;
        }
    }
    // .different__title
    &__title {
    }
    // .different__suptitle
    &__suptitle {
        margin-bottom: 16px;
        @media (max-width: $mobileSmall){
            font-size: 19px;
        }
    }
    // .different__text
    &__text {
        font-size: 17px;
        line-height: 1.4;
        color: $grey;
    }
    // .different__info
    &__info {
        display: flex;
        gap: 58px;
        margin-bottom: 48px;
        @media (max-width: $pc){
            justify-content: center;
        }
        @media (max-width: $mobileMiddle){
            gap: 15px;
        }
    }
    // .different__item
    &__item {
    }
    // .different__action
    &__action{
        @media (max-width: $pc){
            text-align: center;
        }
    }
    // .different__btn
    &__btn {
    }
    // .different__img
    &__img {
        display: block;
        width: 100%;
        &.first{
            display: none;
            max-width: 400px;
            margin: 0 auto;
            border-radius: 50%;
            border: 1px solid $grey;
            margin-bottom: 25px;
        }
        @media (max-width: $pc){
            display: none;
            &.first{
                display: block;
            }
        }

    }
}

.item-different {
    // .item-different__count
    &__count {
        font-size: 54px;
        font-weight: 700;
        margin-bottom: 5px;
        span{
            font-weight: 400;
            color: $blue;
            padding-left: 5px;
        }
        @media (max-width: $mobileSmall){
            font-size: 44px;
        }
    }
    // .item-different__name
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: $grey;
    }
}

